body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.product-container {
    position: relative;
    top: 25%;
    left: 35%;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px;
    width: 310px;
}