body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.product-container {
    position: relative;
    top: 25%;
    left: 35%;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 30px;
    width: 310px;
}

.title {
    position: absolute;
    top: -9px;
    left: 15px;
    background: linear-gradient(to bottom, #f4f4f4 50%, white 50%);
    padding: 0 10px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: 13px;
}